src/pipeline/pipe_05_filter.json
{
	"name": "pipe_05_filter",
	"properties": {
		"activities": [
			{
				"name": "get_filesnames_csv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_dinamico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "*.csv",
							"separatorName": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": "2024-09-06T09:00:00.000Z",
						"modifiedDatetimeEnd": "2024-09-07T00:00:00.000Z",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup_csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_dinamico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "csvCor.csv",
							"separatorName": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dinamico_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filter_metadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get_filesnames_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_filesnames_csv').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'C')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_loockup_csv",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_csv').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().Cor, 'azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_lookup_sql",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name, 'Bike')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_activities"
		},
		"annotations": []
	}
}